<% if current_user == @note.user && @note.shares.any? %>
  <h5 align = 'center'>Manage access for this note</h5>
  <table>
    <thead>
      <tr>
        <th>Shared With</th>
        <th>Shared By</th>
        <th>Permission</th>
        <th>Note</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @note.shares.each do |share| %>
        <tr>
          <td><%= share.user.email %></td>
          <td><%= share.sharer.email %></td>
          <td><%= share.permission %></td>
          <td><%= share.shareable_type == "Note" ? truncate(share.shareable.body,length: 50) : truncate(share.shareable.note.body, length: 50) %></td> 
          <td><%= link_to 'Remove Access', share, method: :delete, data: { confirm: 'Are you sure?' } if share.sharer == current_user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>