<% @notes_shared.each do |snote| %>
  <% unless snote.sharer == current_user %>
    <h3><%= snote.note.title %></h3>
    <p><b>Author:</b> <%= snote.sharer.email %></p>
    <p><b>Permission:</b> <%= snote.permission.capitalize %>
    <p><%= truncate(snote.note.body, length: 50) %></p>
    <p><b>Tags:</b> <% snote.note.tags.each do |tag| %><%= link_to "#{tag.name}(#{tag.notes.count})", notes_path(tag_name: tag.name, tag_id: tag.id), class: 'button secondary tiny round' %><% end %></p>
    <% if snote.reader? %>
      <%= link_to 'Show', snote.note, class: 'button tiny notice round' %>
    <% elsif snote.updater? %>
      <%= link_to 'Show', snote.note, class: 'button tiny notice round' %>
      <%= link_to 'Edit', edit_note_path(snote.note), class: 'button tiny success round' %>
    <% else %>
      <%= link_to 'Show', snote.note, class: 'button tiny notice round' %>
      <%= link_to 'Edit', edit_note_path(snote.note), class: 'button tiny success round' %>
      <%= link_to 'Destroy', snote.note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny warning round' %>
    <% end %>
    <%= render 'notes/share_form2', snote: snote %>
  <% end %>  
<% end %>