<p> Share?(select user and the access) </p>  
<%= form_for Share.new do |f| %>
  <%= f.hidden_field :note_id, value: snote.note_id%>
  <%= f.hidden_field :sharer_id, value: current_user.id %>
  <%= f.hidden_field :shareable_id, value: snote.id %>
  <%= f.hidden_field :shareable_type, value: snote.class %>
  <%= select("share", "user_id", User.where.not(id: [current_user.id] + Share.where(note_id: snote.note_id).pluck(:user_id)).collect {|p| [ p.email, p.id ] }) %>
  <% if snote.reader? %>
    <%= select("share", "permissions", [[ 'reader', 0 ]]) %>
  <% elsif snote.updater? %>
    <%= select("share", "permissions", [[ 'reader', 0 ], ['updater', 1]]) %>
  <% else %>
    <%= select("share", "permissions", Share::PERMISSIONS.each_with_index {|p, i| [ p, i ] }) %>
  <% end %>
  <%= f.submit 'Share', class: "button tiny success round" %>
<% end %>