<p> Share?(select user and the access) </p>
<%= form_for Share.new do |f| %>
  <%= f.hidden_field :note_id, value: note.id%>
  <%= f.hidden_field :sharer_id, value: current_user.id %>
  <%= f.hidden_field :shareable_id, value: note.id %>
  <%= f.hidden_field :shareable_type, value: note.class %>
  <%= select("share", "user_id", User.where.not(id: [current_user.id] + Share.where(note_id: note.id).pluck(:user_id)).collect {|p| [ p.email, p.id ] }) %>
  <%= select("share", "permission", Share::PERMISSIONS.each_with_index {|p, i| [ p, i ] }) %>
  <%= f.submit 'Share', class: "button tiny round" %>
<% end %>