<center>
  <br>
  <div class="row">
    <% if @notes.any? || @notes_shared.any? %>
      <div class="row">
          <%= render 'notes/note' %>
      </div>
      <div class="row">
        <%= render 'notes/shared_note'%>
      </div>
    <% else %>
      <h3 align = 'center'>You haven't created any notes </h3>
      <p align = "center"><%= link_to 'Create New Note', new_note_path, class: 'button large success round'%></p>
    <% end %>
  </div>
</center>