<div class="row">
	<% @notes.each do |note| %>
		<% if note.shares.present? || note.user == current_user %>
			<div class="panel">
				<p><%= note.body%></p>
				<p align = "center"><%= link_to note.title, note, class: 'button tiny round success'%></p>
			</div>
		<% end %>	
	<% end %>
</div>